*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Hero New ";
  background: #f0f8ff;
}

.btn-spinner {
  width: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* LOADER HERE */

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #222840;
  width: 72px;
  height: 72px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 2rem auto;
}

.nothing {
  color: #1b1c1d;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 2rem auto;
  text-align: center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* FONTS HERE */
@font-face {
  font-family: "Hero New ";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Hero New Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Hero New ";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Hero New Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Hero New ";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Hero New SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Hero New ";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Hero New Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Hero New ";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/Hero New ExtraBold.woff") format("woff");
  font-display: swap;
}
