*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Hero New ";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* FONTS HERE */
@font-face {
  font-family: "Hero New ";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Hero New Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Hero New ";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Hero New Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Hero New ";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Hero New SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Hero New ";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Hero New Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Hero New ";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/Hero New ExtraBold.woff") format("woff");
  font-display: swap;
}
